<div class="gallery">
	<div class="text-center">
		<h2>Gallery</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi,<br> dolores obcaecati ex aliquid, dolor provident </p>
	</div>
	<div class="container">		
		<div class="col-md-4">
			<figure class="effect-marley">
				<%= image_tag '8.jpg', class: "img-responsive" %>
				<figcaption>
					<h4>sweet marley</h4>
					<p>Marley tried to convince her but she was not interested.</p>				
				</figcaption>			
			</figure>
		</div>
		<div class="col-md-4">
			<figure class="effect-marley">
				<%= image_tag '9.jpg', class: "img-responsive" %>
				<figcaption>
					<h4>sweet marley</h4>
					<p>Marley tried to convince her but she was not interested.</p>				
				</figcaption>			
			</figure>
		</div>
		<div class="col-md-4">
			<figure class="effect-marley">
				<%= image_tag '10.jpg', class: "img-responsive" %>
				<figcaption>
					<h4>sweet marley</h4>
					<p>Marley tried to convince her but she was not interested.</p>				
				</figcaption>			
			</figure>
		</div>
	</div>

	<div class="container">
		<div class="col-md-4">
			<figure class="effect-marley">
				<%= image_tag '11.jpg', class: "img-responsive" %>
				<figcaption>
					<h4>sweet marley</h4>
					<p>Marley tried to convince her but she was not interested.</p>				
				</figcaption>			
			</figure>
		</div>
		<div class="col-md-4">
			<figure class="effect-marley">
				<%= image_tag '12.jpg', class: "img-responsive" %>
				<figcaption>
					<h4>sweet marley</h4>
					<p>Marley tried to convince her but she was not interested.</p>				
				</figcaption>			
			</figure>
		</div>
		<div class="col-md-4">
			<figure class="effect-marley">
				<%= image_tag '13.jpg', class: "img-responsive" %>
				<figcaption>
					<h4>sweet marley</h4>
					<p>Marley tried to convince her but she was not interested.</p>				
				</figcaption>			
			</figure>
		</div>
	</div>
</div>