<div class="page-header">
  <h2>Log in</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= form_for(resource, as: resource_name, :html => { :class => "form-horizontal" }, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :user_type, "User_type:", class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.select(:user_type, User::USER_ROLE, {} ,{ class: "form-control" }) %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <%= f.check_box :remember_me %>
            </div>
            <div class="checkbox">
              <%= f.label :remember_me, class: "peracheckbox" %>
            </div>
          </div>
        <% end -%>

        <div class="col-md-12 logbtn">
          <%= f.submit "Log in", class: "btn btn-primary logbtnpera" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
